In [1]:
#pandas 
# backbone for exploratory data analysis

In [2]:
#steps to import pandas
import pandas as pd

In [27]:
# what is data structure ?
# data tructure are two dimensional space , ie data are arraanged in tabluar fashion eg:rows and columns 
# to create a dataframe 
# three important things ,data,index,columns
s = {'name': [1, 2], 'age': [3, 4]}

In [28]:
s = pd.DataFrame(data=s,index=['row1','row2'])

In [30]:
s.head() # prints the top rows of the dataframe

      name  age
row1     1    3
row2     2    4

In [31]:
# coverting to file systems 
s.to_csv('simple_dataframe.csv')

In [34]:
# accessing the elements in the dataframe 
## 1. loc 2. .iloc
# loc -- focus only on rows
# whereas iloc --- fouccs on rows as well as columns (index location)
s.loc['row1']
type(s.loc['row1']) # series contains one row or one column, where as dataframe should have atlest more tha one column and one row

pandas.core.series.Series

In [40]:
s.iloc[:,:]# first(accessing rows) and second:(accessing column values) values # prints all the values in d0:1
s.iloc[0:2,0:2]
s.iloc[0:1,0:2]

      name  age
row1     1    3

In [43]:
# coverting dataframes to arrays
#. values converts into arrays 
s.iloc[:,:].values

array([[1, 3],
       [2, 4]], dtype=int64)

In [45]:
# to checck null values 
s.isnull().sum()

name    0
age     0
dtype: int64

In [46]:
# pandas read_operations 
data = pd.read_csv('camera_dataset.csv')

In [51]:
data.head()
data.columns
data.isnull().sum()

Model                      0
Release date               0
Max resolution             0
Low resolution             0
Effective pixels           0
Zoom wide (W)              0
Zoom tele (T)              0
Normal focus range         0
Macro focus range          1
Storage included           2
Weight (inc. batteries)    2
Dimensions                 2
Price                      0
dtype: int64

In [52]:
data.describe()# provides statistical info about the dataset , but includes only the int and float columns ,excludes object types

,Release date,Max resolution,Low resolution,Effective pixels,Zoom wide (W),Zoom tele (T),Normal focus range,Macro focus range,Storage included,Weight (inc. batteries),Dimensions,Price
count,1038.000000,1038.000000,1038.000000,1038.000000,1038.000000,1038.000000,1038.000000,1037.000000,1036.000000,1036.000000,1036.000000,1038.000000
mean,2003.590559,2474.672447,1773.936416,4.596339,32.963391,121.525048,44.145472,7.787850,17.447876,319.265444,105.363417,457.384393
std,2.724755,759.513608,830.897955,2.844044,10.333149,93.455422,24.141959,8.100081,27.440655,260.410137,24.262761,760.452918
min,1994.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000
25%,2002.000000,2048.000000,1120.000000,3.000000,35.000000,96.000000,30.000000,3.000000,8.000000,180.000000,92.000000,149.000000
50%,2004.000000,2560.000000,2048.000000,4.000000,36.000000,108.000000,50.000000,6.000000,16.000000,226.000000,101.000000,199.000000
75%,2006.000000,3072.000000,2560.000000,7.000000,38.000000,117.000000,60.000000,10.000000,20.000000,350.000000,115.000000,399.000000
max,2007.000000,5616.000000,4992.000000,21.000000,52.000000,518.000000,120.000000,85.000000,450.000000,1860.000000,240.000000,7999.000000

In [54]:
data['Dimensions'].value_counts()

90.0     48
91.0     47
95.0     41
100.0    38
106.0    31
         ..
95.5      1
240.0     1
74.0      1
73.0      1
38.0      1
Name: Dimensions, Length: 101, dtype: int64

In [57]:
#https://www.youtube.com/watch?v=tW1BWtQRZ2M

In [7]:
# reading json files 
#JavaScript Object Notation
jdon_data = '{"name":"john","age":26,"address":"phenoix,Arizona",}'

In [18]:
#to read_json 
import json
a ={"name":"John", 
   "age":31, 
    "Salary":25000} 
b= json.dumps(a)

In [19]:
b

'{"name": "John", "age": 31, "Salary": 25000}'

In [27]:
# to covert json tod dataframe
from pandas.io.json import json_normalize
data_load = json.loads(b)
type(data_load)# converts to dict format and normalizes  to df
type(json_normalize(data_load))# normalizesto dataframe

pandas.core.frame.DataFrame

In [30]:
# to convert json is done by dumps()
btojson = json.dumps(data_load) 
btojson

'{"name": "John", "age": 31, "Salary": 25000}'

In [31]:
#serilaization nd deserialization in json 
# serialization : process of encoding to json format is nown as serialization
# json lib in python uses dumps() to convert python ogjects to json format 
# dict:object,list,tuple:array,int,float:numbers,true/false:boolean,null:null

In [32]:
var = {  
      "Subjects": { 
                  "Maths":85, 
                  "Physics":90
                   } 
      }

In [33]:
type(var)

dict

In [35]:
var_serial = json.dumps(var)

In [37]:
type(var_serial)

str

In [39]:
# deserialization of json
# reverse of seriqalization in json
var_deserial = json.loads(var_serial)

In [41]:
type(var_deserial)

dict

In [42]:
# why and when do we go for serialization and deserialization of json
# used to ssave the state of object wwhen its needed to recreate 
#use -- to transmit into series of bytes to store it into memory

In [44]:
# difference between dumps() and dump()
# https://stackoverflow.com/questions/36059194/what-is-the-difference-between-json-dump-and-json-dumps-in-python --- reference link

In [46]:
#pickle - transfering over the netork
# pickle are  used to store serialized object to file ,the file path represents pickled object structure path 
#Serialization refers to the process of converting an object in memory to a byte stream that can be stored on disk or sent over a network.

In [47]:
import pickle

In [48]:
dogs_dict = { 'Ozzy': 3, 'Filou': 8, 'Luna': 5, 'Skippy': 10, 'Barco': 12, 'Balou': 9, 'Laika': 16 }

In [49]:
filename = 'dogs'
outfile = open(filename,'wb') # writing in binary code

In [50]:
#pickling the files
pickle.dump(dogs_dict,outfile)
outfile.close()

In [ ]:
#unpickling back to python code
infile = open(filename,'rb')# reading in binary file 
new_dict = pickle.load(infile)
infile.close()