In [1]:
# boolean operators
# boolean are two constant operators "true or "false"
# numeris is 0 = false  1 = true

In [9]:
type(True)
type(False)
my_str='Dev'
my_str.istitle()## returns if the uppercase letter of first letter is captlized

True

In [18]:
#print(my_str.isallnum())# check if the variable has all numbers
print(my_str.isalpha()) # check if variable has alphabatical values
print(my_str.isdigit()) # contains any digits
print(my_str.islower()) # contains any lower case letter
print(my_str.isupper()) # contains any upper case letter
print(my_str.endswith('v')) # letter ending
print(my_str.startswith('D')) # starting with letter

True
False
False
False
True
True

In [19]:
#boolean and logical operators
True and True

True

In [20]:
True and False

False

In [23]:
False or True

True

In [24]:
False or False

False

In [27]:
#examples 
val_str = 'dev'
my_eg = 10
val_str.islower() or my_eg.isnum() ## both are true
val_str.isspace() and my_eg.isnum() # true and false

False

In [28]:
# lists === one of the data structure in python , list are mutable(changeable), each item inside list is called as "item" .it is enclosed ny a square brackets [] and

In [29]:
type([]) # to knew the type of the list

list

In [30]:
list_values = [] # empty list

In [32]:
# to convert into list
a = list()

In [33]:
type(a)

list

In [65]:
list_data = ['dev','prod','cater',200,300,4,8]

In [66]:
list_data
len(list_data) # to find the length of list

7

In [67]:
#positiong of items in the lists[Indexing]
list_data[1] # first element in the list
list_data[-1] # last elemnet in the list
list_data[1:3]# takes second nd thrid item in the list
list_data[:3]  # takes 0,1,2 position item in the list
list_data[3:] # takes the item after the 3rd val in the list

[200, 300, 4, 8]

In [68]:
#### appending items in the list 
list_data.append(['values']) # appending by adding new list(list "inside" list)

In [69]:
list_data.append('date')

In [70]:
list_data

['dev', 'prod', 'cater', 200, 300, 4, 8, ['values'], 'date']

In [71]:
list_data[7] #accessing 7th position in the list

['values']

In [72]:
#insterting in specific order by specifying the position of the item
list_data.insert(2,'order')

In [73]:
# extend fuction in list
list_data.extend([3,1]) # adding items to the exisiting list

In [74]:
list_data

['dev', 'prod', 'order', 'cater', 200, 300, 4, 8, ['values'], 'date', 3, 1]

In [76]:
# pop() method removes and renturns the last value from the list-(deletes last value)
list_data.pop()

1

In [77]:
list_data.pop()

3

In [80]:
list_data.pop(7)# delates values based on address position

['values']

In [81]:
### count  === calculates total same number or same values  of occurences in the list

In [84]:
lst = [1,2,3,4,5,6,6,6,4,6]
lst.count(6)
lst.count(5)
lst.count(4)

2

In [85]:
# length of the list 
len(lst)

10

In [86]:
##min and max ==== finds the minimum and maximum values in the list

In [88]:
min(lst)
max(lst)

6

In [89]:
#sets unordered collection ofdata sets itis mutable has no DUPLICATES and its itertable, it is defined using {}

In [90]:
# data structure obtained from the hash table

In [93]:
#craeting empty sets 
set_df = set()
type(set_df)

set

In [95]:
set_df1 ={'a','b','c'}
set_df1.add('f') # inbuiltfunction in set (.add)

In [96]:
set_df1

{'a', 'b', 'c', 'f'}

In [109]:
set_df2 = {'d','e','a','b'}
set_diff = set_df2.difference(set_df1) ## find the difference between sets

In [111]:
print(set_diff)

{'a', 'd', 'e', 'b'}

In [112]:
### dictionaries -- type of datastructure which is unordered and changed its defined using {}and have one pair of keys and values

In [113]:
# used we mapping of some featurres = eg {name : john}

In [114]:
# creating empty dict

In [115]:
dict = {}
type(dict)

dict

In [117]:
set_dict = {"book1": "maths" ,"book2":"science","book3" : 'physics'}

In [118]:
type(set_dict)

dict

In [119]:
set_dict['book1'] # accessing the keys in the dict

'maths'

In [122]:
#iterating keys through loops  in dict
for items in set_dict:
    print("the book that is need for my studies is" + items)

the book that is need for my studies isbook1
the book that is need for my studies isbook2
the book that is need for my studies isbook3

In [123]:
for items in set_dict.values(): # iterting through values in the dictionaries 
    print("the name of the books is" + items)

the name of the books ismaths
the name of the books isscience
the name of the books isphysics

In [127]:
# iterating through both keys and vaues 
for items in set_dict.items():
    print(items)

('book1', 'maths')
('book2', 'science')
('book3', 'physics')

In [128]:
# addition and replacemmnet in dict 
set_dict['book4'] = "chemistry"

In [130]:
set_dict

{'book1': 'maths',
 'book2': 'science',
 'book3': 'physics',
 'book4': 'chemistry'}

In [132]:
set_dict['book1'] = "Engineering" # replaced with maths
set_dict

{'book1': 'Engineering',
 'book2': 'science',
 'book3': 'physics',
 'book4': 'chemistry'}

In [138]:
#### Nested dictionaries 
book_type1 = {"book1":"Engineering"}
book_type2 ={"book2":"Maths"}
book_type3 = {"book3":"English"}

In [139]:
book_type = {"book_t1":book_type1,"book_t2":book_type2,"book_t3":book_type3}

In [140]:
book_type['book_t1']

{'book1': 'Engineering'}

In [141]:
##tuples -- data type in python - immutable  cannot be changed and defind using ()

In [142]:
tuple= ()
type(tuple)

tuple

In [143]:
tuple = ('status','present','living')

In [148]:
tuple.count('status')
tuple.index('status') # level of the position values in the tuples

0